/* Add custom styles here */
/* Override the theme styles here */

:root {
    --content-max-width: 70em;
}

.sidebar p {
    font-weight: bold;
    margin-block-end: 0.5em;
}

.markdown-section {
    margin: 0;
}

.markdown-section tbody td {
    vertical-align: top;
}
